ul {
	list-style: none;
	width: 84vw;
}

ul li {
	width: 80vw;
}

ul li p {
	text-align: center;
}

ul li .start_btn {
    width: 48%;
    margin-left: 1%;
}

ul li .stop_btn {
    width: 48%;
    /*margin: 1%;*/
}

ul li time {
	text-align: center;
}

ul li .pie {
	width: calc(var(--size, 200) * 1px);
	height: calc(var(--size, 200) * 1px);
	position: relative;
	border-radius: 100%;
	background-color: green;
	/*margin: auto;*/
}

ul li .pie .pie_segment_a {
	/*border: 5px dashed #000; */
	/*background: #fff;*/
	height: 100%;
	overflow: hidden;
	position: absolute;
	transform: translate(0, -50%) rotate(225deg) rotate(calc(var(--offset, 0) * 1deg));
	transform-origin: 50% 100%;
	width: 100%;
}

ul li .pie .pie_segment_a:before {
	background: #fff;
	content: '';
	/*border: 5px dashed #000; */
	height: 100%;
	position: absolute;
	transform: translate(0, 100%) rotate(45deg);
	transform-origin: 50% 0;
	width: 100%;
}

ul li .pie .pie_segment_b {
	/*border: 5px dashed #000; */
	/*background: #fff;*/
	height: 100%;
	overflow: hidden;
	position: absolute;
	transform: translate(0, -50%) rotate(-90deg) rotate(calc(var(--offset, 0) * 1deg));
	transform-origin: 50% 100%;
	width: 100%;
}

ul li .pie .pie_segment_b:before {
	background: #fff;
	content: '';
	/*border: 5px dashed #000; */
	height: 100%;
	position: absolute;
	transform: translate(0, 100%) rotate(180deg);
	transform-origin: 50% 0;
	width: 100%;
}




.piechartframe {
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	margin-left: 2vw;
}

.center {
	margin-left: 27.5vw;
	height: 60vh;
	width: 30vw;
}

.profile-center {
	height: 60vh;
	width: 30vw;
}

@media only screen and (max-width: 600px) {
	.imageframe {
		height: 8vw;
		width: 8vw;
		border-radius: 50%;
	}	

	.center {
		margin-left: 7.5vw;
		height: 60vh;
		width: 70vw;
	}

	.profile-center {
		margin-left: 7.5vw;
		height: 60vh;
		width: 70vw;
	}

}
