ul {
	list-style: none;
	width: 84vw;
}

body {
	padding: 0 !important;
	margin: 0 !important;
}

body .container {
	padding: 0 !important;
	margin: auto;
}

ul {
	padding: 0 !important;
	margin: 0 !important;
	float: left;
}

ul li {
	width: 80vw;
	float: left;
}

ul li p {
	text-align: center;
	margin: 0;
	font-size: 6vw;
	font-weight: bold;
}

ul li .start_btn {
    width: 38vw;
    margin-left: 1vw;
}

ul li .stop_btn {
    width: 38vw;
}

ul li .timer {
	margin: auto;
}

ul li .timer time {
	text-align: center;
	margin: auto;
	font-size: 5vw;
	font-weight: bold;
}

ul li .pie {
    width: 68vw;
    height: 68vw;
    background-image: conic-gradient(green 100%, white 0%);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}



.piechartframe {
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	margin-left: 2vw;
}

.center {
	margin-left: 27.5vw;
	height: 60vh;
	width: 30vw;
}

.profile-center {
	height: 60vh;
	width: 30vw;
}

@media only screen and (max-width: 600px) {
	.imageframe {
		height: 8vw;
		width: 8vw;
		border-radius: 50%;
	}	

	.center {
		margin-left: 7.5vw;
		height: 60vh;
		width: 70vw;
	}

	.profile-center {
		margin-left: 7.5vw;
		height: 60vh;
		width: 70vw;
	}

}
