#year_table {
    top: 16vw;
    height: 120vw;
    width: 93vw;
    float: right;
    left: 2vw;
    background-color: black;
    position: absolute;
}

#year_table .quarter_title_row {
    height: 10vw;
    width: 91vw;
    float: left;
    margin: 1vw;
    background-color: black;
}

#year_table .quarter_title_row .title {
    height: 8vw;
    width: 29vw;
    margin-top: 1vw;
    margin-left: 1vw;
    float: left;
    position: relative;
    background-color: #ee1289;
}

#year_table .quarter_title_row .title .title_text {
    margin-top: 3vw;
    text-align: center;
    font: bold 2vw Arial, sans-serif;
}

#year_table .quarter_row {
    height: 26vw;
    width: 91vw;
    float: left;
    margin: 1vw;
    background-color: black;
}

#year_table .month {
    margin-top: 1vw;
    height: 23vw;
    width: 29vw;
    float: right;
    margin-left: 1vw;
    background-color: black;
}


#year_table .month #month_table {
    height: 23vw;
    width: 29vw;
    float: right;
    /*background-color: purple;*/
}

#month_table .week_row {
    height: 2.9vw;
    width: 26.8vw;
    float: left;
    margin: 0.1vw;
    position: relative;
    /*background-color: pink;*/
}


#month_table .week_row .item {
    height: 2.7vw;
    width: 3.7vw;
    margin-left: 0.1vw;
    margin-top: 0.1vw;
    float: left;
    position: relative;
    background-color: #1c86ee;
}

.container #month_table .week_row .item .date {
    margin-top: 0.9vw;
    text-align: center;
    font: bold 0.9vw Arial, sans-serif;    
}

#month_table .week_title_row {
    height: 3vw;
    width: 26.8vw;
    float: left;
    margin: 0.1vw;
    position: relative;
}

#month_table .week_title_row .title {
    height: 2.8vw;
    width: 3.7vw;
    margin-left: 0.1vw;
    margin-top: 0.1vw;
    float: left;
    position: relative;
    background-color: #ee1289;
}

#month_table .week_title_row .title .title_text{
    margin-top: 1vw;
    text-align: center;
    font: bold 0.8vw Arial, sans-serif;
}

#top_navigation {
    height: 10vw;
    width: 93vw;
    float: right;
    background-color: black;
    left: 2vw;
    position: absolute;
}

#top_navigation #previous_week_btn {
    float: right;
    height: 8vw;
    width: 12vw;
    margin: 1vw;
    background-color: #00ffff;
    font-size: 3vw;
}

#top_navigation #next_week_btn {
    float: right;
    height: 8vw;
    width: 12vw;
    margin: 1vw;
    background-color: #00ffff;
    font-size: 3vw;

}

#top_navigation #date_range_display {
    float: left;
    height: 8vw;
    width: 24vw;
    margin: 1vw;
    background-color: #5dff00;
}


@media only screen and (max-width: 600px) {
    
}
